.root{position: relative;}
.root .border{border:solid 1px #444;}
.size{width:48px; height:48px; float:left;  border:solid 1px #fff;}
/*.back0 {background-image:url(./icon/academic-hat.png);};*/
.root .backblack{background-image:url("");}
.back1 {background-image:url(./icon/academic-hat.png);}
.back2 {background-image:url(./icon/add.png);}
.back3 {background-image:url(./icon/alert.png);}
.back4 {background-image:url(./icon/bluray.png);}
.back5 {background-image:url(./icon/bookmark.png);}
.back6 {background-image:url(./icon/books.png);}
.back7 {background-image:url(./icon/calender.png);}
.back8 {background-image:url(./icon/camera.png);}
.back9 {background-image:url(./icon/carton.png);}
.back10 {background-image:url(./icon/cd.png);}
.back11 {background-image:url(./icon/cross.png);}
.back12 {background-image:url(./icon/delete.png);}
.back13 {background-image:url(./icon/dvd.png);}
.back14 {background-image:url(./icon/flashlight.png);}
.back15 {background-image:url(./icon/gift.png);}
.back16 {background-image:url(./icon/globe.png);}
.back17 {background-image:url(./icon/guitar.png);}
.back18 {background-image:url(./icon/hat-and-magic-wand.png);}
.back19 {background-image:url(./icon/hat.png);}
.back20 {background-image:url(./icon/home.png);}
.back21 {background-image:url(./icon/id.png);}
.back22 {background-image:url(./icon/info.png);}
.back23 {background-image:url(./icon/key.png);}
.back24 {background-image:url(./icon/list.txt);}
.back25 {background-image:url(./icon/magic-wand.png);}
.back26 {background-image:url(./icon/mail.png);}
.back27 {background-image:url(./icon/map.png);}
.back28 {background-image:url(./icon/medal-bronze.png);}
.back29 {background-image:url(./icon/medal-gold.png);}
.back30 {background-image:url(./icon/medal-silver.png);}
.back31 {background-image:url(./icon/mic.png);}
.back32 {background-image:url(./icon/minus.png);}
.back33 {background-image:url(./icon/notepad.png);}
.back34 {background-image:url(./icon/padlock.png);}
.back35 {background-image:url(./icon/pencil-and-ruler.png);}
.back36 {background-image:url(./icon/pencil.png);}
.back37 {background-image:url(./icon/photos.png);}
.back38 {background-image:url(./icon/pin.png);}
.back39 {background-image:url(./icon/preferences.png);}
.back40 {background-image:url(./icon/printer.png);}
.back41 {background-image:url(./icon/ruler.png);}
.back42 {background-image:url(./icon/safe.png);}
.back43 {background-image:url(./icon/screw-driver.png);}
.back44 {background-image:url(./icon/search.png);}
.back45 {background-image:url(./icon/spanner.png);}
.back46 {background-image:url(./icon/tag.png);}
.back47 {background-image:url(./icon/tick.png);}
.back48 {background-image:url(./icon/ticket.png);}
.back49 {background-image:url(./icon/tools.png);}
.back50 {background-image:url(./icon/trash.png);}
.back51 {background-image:url(./icon/user.png);}